@charset "UTF-8";
:root{
    --corContainer: rgba(20, 85, 146, 0.404);
    --corInput: rgba(128, 128, 128, 0.377);
    --corLink: ;
}
/*
* {
    margin: 0px;
    padding: 0px;
}*/

body{
 /* background-image: linear-gradient(to bottom,#487ea7,#90AFC4 );  */
  background-image: url(grabowska_pq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}
nav {
   /* background-color: var(--cor5);*/
    text-align: left;
    font-size: 18px;
    padding: 5px 5px 5px 0px;
    margin: -8px auto 0px -5px; 
    border: 1px solid black; 
    display:inline-block;
    text-align: center;
    
   }

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    ;
    
}
nav > a:hover {
    color: white;
    background-color: #2fa865b4;
    border-radius: 5px;
    padding: 4px;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #476277c7 ;
    min-width: 260px; /* 400,600*/
    max-width: 515px; /*620*/

    /*width: 625px;*/
    height: 445px; /*350 445*/
    padding: 10px;
    margin: auto;
    text-align: center;
}
.weather-container {
    background-color: var(--corContainer);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #476277c7 ;
    min-width: 225px; /* 400,600*/
    max-width: 625px;

   /* width: 520px; /*585*/
    height: 300px; /*195 300*/
    padding: 10px;
    margin:10px 10px 10px 10px;
    text-align: center;
    
}
input#txtcidade, input#submit, input#forecast {
    font-size: 14px;
    background-color: var(--corInput) ;
    border: 0px;
    height: 30px;
    min-width: 80px;
    max-width: 160px;
}
input#submit, input#forecast {
    /*width: 80px;*/
    font-weight: bold;
}
.location {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 2px 0px 2px;
}
.icon {

    margin: 2px 2px -8px 2px; /*-18*/
}
.temp {
    color: yellow;
    font-weight: bold;
    font-size: 22px;
  /*  background-color: rgba(255, 255, 0, 0.842);
    color: black;*/
    border-radius: 5px;
    margin: 10px auto; /*35*/
}
.weather, .temp_max, .temp_min {
    font-weight: bold;
    font-size: 16px;
    margin: 15px auto; /*41*/
}
.temp_max, .temp_min {
    font-weight: normal;
    border-radius: 5px;
}
.temp_max {
    background-color: red;
    color: white;
}
.temp_min {
    background-color: blue;
    color: white;
}

.feels_like , .wind {
    color: white;
    margin: 11px auto; /*25*/
    font-weight: bold;
    font-size: 16px;
   /* border: 1px solid black;*/
}
div {
    display:inline-block;
    text-align: center;
    /*border: 1px solid black;*/
    height: 100px; /* Altura */
    width: 80px; 
    margin: -8px 2px -15px 2px;
}

div#feels, div#wind {
    margin: 3px auto; /* -25px*/ 
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    margin: 10px 10px 10px 10px;
}
aside > h2 > a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
aside > h2 > a:hover {
    color: var(--cor5);
    background-color: #2fa865b4;
    border-radius: 5px;
    padding: 4px;
}
